/* Coolors Exported Palette - coolors.co/119b4a-4c243b-5c6784-98c1d9-574d68 */

/* HSL */
$color1: hsla(145%, 80%, 34%, 1);
$color2: hsla(326%, 36%, 22%, 1);
$color3: hsla(224%, 18%, 44%, 1);
$color4: hsla(202%, 46%, 72%, 1);
$color5: hsla(262%, 15%, 35%, 1);

/* RGB */
$color1: rgba(17, 155, 74, 1);
$color2: rgba(76, 36, 59, 1);
$color3: rgba(92, 103, 132, 1);
$color4: rgba(152, 193, 217, 1);
$color5: rgba(87, 77, 104, 1);