// yassss http://bettermotherfuckingwebsite.com/
@import 'palette';
$black: #222222;
$background: GhostWhite;
$body-font: 'Roboto',
sans-serif;
$header-font: 'Verdana',
sans-serif;

body {
  margin: 40px auto;
  max-width: 700px;
  line-height: 1.5em;
  font-size: 18px;
  color: $black;
  padding: 0 10px;
  font-family: $body-font;
  background-color: $background;
}

h1,
h2,
h3,
h4 {
  font-family: $header-font;
  color: $color1;
  text-align: center;
}

h1 {
  font-size: 3em;
}

#headshot {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

#nav {
  display: flex; //justify-content: center;
  justify-content: space-around;

  span>a {
    font-size: 1.3em;
    color: $color4;
  }
}

#portfolio {
  border-top: 1px solid $color1;
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.clip {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 310px;
  //width: 310px;
  padding: 20px 10px 0px 10px; 
  margin: 0px 10px;

  span {
    display: block;
    font-size: 1.2em;
    margin: 5px 0px 15px 0px;

    a {
      color: $color2;
      
    }
    
  }


  p {
    color: #444444;
    text-align: justify;
    margin: 10px 0px;
    width: 100%;
  }

  img {
    width: 100%;
  }
}
